body{
    height:100%;
    margin: 0;
    background-color:#E3E2DF;
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    text-align: center;
    color:black;
    font-size: 3vw;
    margin-top:4vw; 
}

h2{
    text-align: center;
    color:black;
    font-size: 2vw;
    margin-top:6vw; 
}

#heytext{
    margin-top:5vw; 
}

#heytext{
    text-align: center;
    color:black;
    font-size: 2vw;
    margin-top:vw; 
}

#reviewtitle{
    text-align: center;
    color:black;
    font-size: 3vw;
    margin-top: 6vw;
}

.tablink {
    background-color:#5D001E;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1vw 1.6vw;
    font-size: 2vw;
    width: 28%;
    margin-left:4vw;
    font-family: Arial, Helvetica, sans-serif;
  }


.gamelink {
    background-color:#5D001E;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1vw 1.6vw;
    font-size: 1.5vw;
    width: 20%;
    margin-left: 38.5vw;
    margin-bottom: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    display:block;
  }

.tabcontent {
    color: black;
    display: none;
    padding: 10px 20px;
    height: 100%;
    text-align: center;
    font-size: 5vw;
  }

  #AboutMe{
      font-size: 2.5vw;
      margin-top: 5vw;
  }

  #BackButton{
      font-size: 2vw;
      position: absolute;
      
  }

  #bio{
      font-size: 1.5vw; 
      display: inline-block;
  }

  #reviewID{
    font-size: 1.5vw; 
    display: inline-block;
  }

  .tablink:hover{
      background-color:#E3242B ;
  }

  .gamelink:hover{
    background-color:#E3242B ;
}

