body{
    height:100%;
    margin: 0;
    background-color:#E3E2DF;
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    text-align: center;
    color:black;
    font-size: 40vw;
}

.tablink {
    background-color:#5D001E;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14vw 16vw;
    font-size: 30vw;
    width: 30%;
    margin-right: 15vw;
    margin-left:20vw;
    font-family: Arial, Helvetica, sans-serif;
  }


.gamelink {
    background-color:#5D001E;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5vw 6vw;
    margin-top: 45vw;
    font-size: 20vw;
    width: 30%;
    margin-left:425vw;
    font-family: Arial, Helvetica, sans-serif;
  }

.tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
    text-align: center;
    font-size: 20vw;
  }

  #AboutMe{
      font-size: 50vw;
  }

  #BackButton{
      font-size: 30px;
      right:90%;
      position: absolute;
      
  }

  #bio{
      font-size: 20px;
      display: inline-block;
  }

  .tablink:hover{
      background-color:#E3242B ;
  }

  .gamelink:hover{
    background-color:#E3242B ;
}
